.footer {
  background-color: $primary;

  .footer-title {
    @include heading-4;
    color: $white;
  }

  .footer-list {
    color: $white;
    list-style: none;
    padding: 0;

    &.mail-address {
      li {
        a,
        span {
          font-size: 15px;
        }
      }
    }

    @include down($md) {
      margin-bottom: 30px;
    }

    &.sosmed {
      li {
        align-items: center;
      }
    }

    li {
      margin-block: 8px;
      display: flex;
      column-gap: 16px;
      align-items: flex-start;
      > * {
        color: $white;
        @include caption-3;

        &:hover {
          color: $light;
        }
      }

      .footer-icon {
        width: 20px;
        object-fit: contain;
      }
    }
  }
}
