.credit {
  background-color: #ff8a00;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 4px;

  div,
  a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: black;
  }
  .made {
    color: white;
  }

  .love {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: love 2s infinite;
    transition: ease-in-out 0.4s;
  }

  @keyframes love {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
}
