.header {
  padding-block: 22px;
  box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  z-index: 99;

  .logo {
    width: 210.56px;
    height: 40.75px;
  }

  .main-menu {
    @include down($md) {
      position: static;
    }
    .hamburger {
      display: flex;
      justify-content: end;
      align-items: center;
      height: 24px;
      object-fit: contain;
      margin-top: 5px;
      @include up(1025px) {
        display: none;
      }
    }
    .menu-close {
      display: block;
      position: absolute;
      top: 25px;
      right: 25px;
      z-index: 100;
      transform: translateY(-100px);
      transition: ease-in-out 0.3s;
      cursor: pointer;

      &.active {
        transform: translateY(0);
        transition: ease-in-out 0.3s;
      }
    }
    .menu-main-menu-container {
      margin: 0;
      @include down($md) {
        position: absolute;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        z-index: 99;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px) saturate(108%);
        -webkit-backdrop-filter: blur(5px) saturate(108%);
        background-color: rgba(255, 255, 255, 0.29);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        display: flex;
        transition: ease-in-out 0.3s;
        transform: translateX(-100%);

        &.active {
          transition: ease-in-out 0.3s;
          transform: translateX(0);

          .menu {
            transition: ease-in-out 0.5s;
            transform: translateX(0);
          }
        }
      }

      .menu {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: end;
        list-style: none;
        column-gap: 45px;
        transition: ease-in-out 0.5s;

        @include down($md) {
          padding: 0;
          flex-direction: column;
          gap: 30px;
          background: $white;
          padding: 50px 30px;
          width: 80%;
          border-radius: 12px;
          transform: translateX(-100%);
        }

        &-item {
          position: relative;
          &:last-child {
            @include button;
          }
          > * {
            @include button-1;
            font-weight: 500;
            color: $black;

            &:last-child {
              @include stretched;
            }
          }
        }
      }
    }
  }
}
