.our-service {
  &__wrapper {
    justify-content: center;
    gap: 30px;
    margin-top: 45px;
    align-items: stretch;
    @include down($sm) {
      flex-wrap: wrap;
    }
  }
  &__card {
    display: inline-block;
    width: 288px;
    background-color: $white;
    padding: 25px 16px;
    text-align: center;
    border-radius: 12px;

    &:hover {
      transition: ease 0.3s;
      box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.1);
    }
  }
  &__image {
    display: flex;
    width: 46px;
    height: auto;
  }
  &__title {
    @include heading-4;
    color: $primary;
    margin-top: 36px;
  }
  &__desc {
    @include body-2;
    margin-top: 20px;
  }
}
