.clients {
  background-color: $light;
  padding-block: 34px;

  .clients-img {
    display: flex;
    flex-wrap: wrap;
    gap: $default-gutter;
    justify-content: center;

    .item-img {
      height: 72px;
      width: auto;
      object-fit: contain;
    }
  }
}
