.our-product {
  background-color: $light;
  p {
    white-space: break-spaces;
  }

  .container-flex > div {
    display: block;

    &:first-child {
      @include up($md) {
        padding-right: 30px;
      }
    }
    .h2 {
      margin-bottom: 24px;
    }
  }

  .slick-arrows {
    @include down($md) {
      margin-bottom: 30px;
    }
  }

  .port_slider {
    display: flex;
    flex-wrap: wrap;
    gap: $default-gutter;
    overflow: hidden;
    width: 100%;

    .port_card {
      display: flex;
      flex-direction: column;
      flex: 0 0 calc((100% / 2) - (#{$default-gutter} * 1 / 2));

      .port_img {
        width: 100%;
        height: 234px;
        object-fit: cover;
        overflow: hidden;
        border: 1px solid #bfbfbf;
        box-sizing: border-box;
        border-radius: 0px 12px;
      }
    }
  }
}
