.why-us {
  background-color: $light;
  &__wrapper {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
  &__card {
    display: flex;
    flex: 0 0 100%;
    gap: 30px;

    @include up($md) {
      flex: 0 0 calc(50% - (30px * 1 / 2));
    }
  }
  &__image {
    display: flex;
    width: 46px;
    height: auto;
  }
  &__title {
    @include button-1;
  }
  &__desc {
    @include body-2;
  }
}
