.image-wrapper {
  position: relative;
  transform: scale(1.2);
  img {
    height: 264px;
    object-fit: contain;
  }

  &.left {
    img {
      transform: translateX(-40px);
      @include up($md) {
        transform: translateX(-60px);
      }
      @include between($sm, $md) {
        margin-bottom: 30px;
      }
    }
  }
  &.right {
    img {
      @include up($sm) {
        transform: translateX(100px);
      }
      @include up($md) {
        transform: translateX(60px);
      }

      @include between($sm, $md) {
        margin-bottom: 30px;
      }
    }
  }
}
