.section {
  padding-block: 33px;

  @include up($md) {
    padding-block: 112px;
  }
  &.full {
    padding-block: 30px;

    @include up($sm) {
      padding-block: 60px;
    }
    @include up($md) {
      padding-block: 112px;
    }
  }
}
