$align-items: (
  items-start: flex-start,
  items-end: flex-end,
  items-center: center,
  items-baseline: baseline,
  items-stretch: stretch,
);

@include utility(align-items, $align-items);

@each $keyScreen, $valScreen in $screen {
  @media (min-width: $valScreen) {
    @include utility(align-items, $align-items, #{$keyScreen}\:);
  }
}
