.container {
  max-width: 100%;
  padding-inline: 16px;
  width: 100%;
  margin-inline: auto;

  @include up(1200px) {
    padding-inline: 0;
    max-width: $container;
  }
}

.container-flex {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
}

.container-grid {
  @extend .container;
  display: grid;
  grid-template-columns: repeat($grid-column, 1fr);
  grid-auto-rows: minmax(185px, auto);
  grid-auto-flow: dense;
  grid-row-gap: $default-gutter;
  row-gap: $default-gutter;
  grid-column-gap: $default-gutter;
  -webkit-column-gap: $default-gutter;
  column-gap: $default-gutter;
  position: relative;
}
