$display: (
  flex: flex,
  block: block,
  inline: inline,
  grid: grid,
  hidden: none,
);
@include utility(display, $display);

@each $keyScreen, $valScreen in $screen {
  @media (min-width: $valScreen) {
    @include utility(display, $display, #{$keyScreen}\:);
  }
}
