$flex: (
  flex-1: 1 1 0%,
  flex-auto: 1 1 auto,
  flex-initial: 0 1 auto,
  flex-none: none,
);
@include utility(flex, $flex);
@each $keyScreen, $valScreen in $screen {
  @media (min-width: $valScreen) {
    @include utility(flex, $flex, #{$keyScreen}\:);
  }
}

@for $i from 1 to $grid-column + 1 {
  $css-attr: (
    width: $i * 100 / $grid-column * 1%,
    flex: 0 0 auto,
    position: relative,
    min-height: 1px,
  );
  @include utilities(flex-col-#{$i}, $css-attr);
}

$f-col: (
  max-width: 100%,
  flex: 1 0 0,
  position: relative,
  min-height: 1px,
);
@include utilities(flex-col, $f-col);
$f-col-auto: (
  width: auto,
  flex: 0 0 auto,
  position: relative,
  min-height: 1px,
);
@include utilities(flex-col-auto, $f-col-auto);

@each $keyScreen, $valScreen in $screen {
  @media (min-width: $valScreen) {
    @for $i from 1 to $grid-column + 1 {
      $css-attr: (
        width: $i * 100 / $grid-column * 1%,
        flex: 0 0 auto,
        position: relative,
        min-height: 1px,
      );
      @include utilities(flex-col-#{$i}, $css-attr, #{$keyScreen}\:);
    }
    @include utilities(flex-col, $f-col, #{$keyScreen}\:);
    @include utilities(flex-col-auto, $f-col-auto, #{$keyScreen}\:);
  }
}
