@for $row from 1 to 4 {
  @include utility(grid-row, (grid-row-#{$row}: span #{$row}));
}

@for $col from 1 to 12 {
  @include utility(grid-column, (grid-col-#{$col}: span #{$col}));
}

@each $keyScreen, $valScreen in $screen {
  @media (min-width: $valScreen) {
    @for $row from 1 to 4 {
      @include utility(
        grid-row,
        (grid-row-#{$row}: span #{$row}),
        #{$keyScreen}\:
      );
    }

    @for $col from 1 to 12 {
      @include utility(
        grid-column,
        (grid-col-#{$col}: span #{$col}),
        #{$keyScreen}\:
      );
    }
  }
}
