$justify-content: (
  justify-start: start,
  justify-end: end,
  justify-center: center,
  justify-between: space-between,
  justify-around: space-around,
  justify-evenly: space-evenly,
);
@include utility(justify-content, $justify-content);

@each $keyScreen, $valScreen in $screen {
  @media (min-width: $valScreen) {
    @include utility(justify-content, $justify-content, #{$keyScreen}\:);
  }
}
