@for $col from 1 to $grid-column + 1 {
  @include utility(order, (order-#{$col}: #{$col}));
}

@each $keyScreen, $valScreen in $screen {
  @media (min-width: $valScreen) {
    @for $col from 1 to $grid-column + 1 {
      @include utility(order, (order-#{$col}: #{$col}), #{$keyScreen}\:);
    }
  }
}
