$text-align: (
  text-left: left,
  text-right: right,
  text-center: center,
  text-justify: justify,
);

@include utility(text-align, $text-align);

@each $keyScreen, $valScreen in $screen {
  @media (min-width: $valScreen) {
    @include utility(text-align, $text-align, #{$keyScreen}\:);
  }
}
