$text-transform: (
  uppercase: uppercase,
  lowercase: lowercase,
  capitalize: capitalize,
  normal-case: normal-case,
);

@include utility(text-transform, $text-transform);

@each $keyScreen, $valScreen in $screen {
  @media (min-width: $valScreen) {
    @include utility(text-transform, $text-transform, #{$keyScreen}\:);
  }
}
