*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font: $font-body;
  // color: $color-body;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  margin: 0;

  img {
    height: auto;
    max-width: 100%;
  }

  a {
    &:link,
    &:-webkit-any-link {
      cursor: pointer;
      text-decoration: none;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: inherit;
      }
      &:active,
      &:focus {
        // color: lighten($color-secondary, 15%);
        outline: none;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0 0 15px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
