@mixin css-attr($prop, $val) {
  #{$prop}: $val;
}

@mixin css-attr-imp($prop, $val) {
  #{$prop}: $val !important;
}

@mixin utility($prop, $data, $infix: false) {
  @if $infix {
    @each $class, $val in $data {
      .#{$infix}#{$class} {
        @include css-attr($prop, $val);
      }
      .\!#{$infix}#{$class} {
        @include css-attr-imp($prop, $val);
      }
    }
  } @else {
    @each $class, $val in $data {
      .#{$class} {
        @include css-attr($prop, $val);
      }
      .\!#{$class} {
        @include css-attr-imp($prop, $val);
      }
    }
  }
}

@mixin utilities($class, $data, $infix: false) {
  @if $infix {
    .#{$infix}#{$class} {
      @each $prop, $val in $data {
        @include css-attr($prop, $val);
      }
    }
    .\!#{$infix}#{$class} {
      @each $prop, $val in $data {
        @include css-attr-imp($prop, $val);
      }
    }
  } @else {
    .#{$class} {
      @each $prop, $val in $data {
        @include css-attr($prop, $val);
      }
    }
    .\!#{$class} {
      @each $prop, $val in $data {
        @include css-attr-imp($prop, $val);
      }
    }
  }
}
