$sm: 680px;
$md: 1024px;
$lg: 1200px;
$screen: (
  sm: $sm,
  md: $md,
  lg: $lg,
);

$container: 1140px;
$grid-column: 12;
$default-gutter: 30px;

$font-body: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-title: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$assets: "/wp-content/themes/seketpapat/assets";

$primary: #30318b;
$primary-hover: #5b5cd1;
$secondary: #e6212a;
$secondary-hover: #ff5e66;
$white: #ffffff;
$black: #000000;
$light: #f5f5f5;
